.landingHeader{
    padding:7em 2em 10em;
    position:relative;
    background-image: url('https://images.unsplash.com/photo-1518546305927-5a555bb7020d?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1049&q=80');
    background-size:cover;
    background-repeat: no-repeat;
    background-position: 35%;
    width:100%;
    z-index:1;
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}
.landingHeader::after{
    content:'';
    position:absolute;
    width:100%;
    height:100%;
    background-color:rgba(0,0,0,0.45);
    top:0;
    z-index:2;
}
.landingHeader__p,.landingHeader__header,.landingHeader__btn{
    z-index:3;
}
.landingHeader__header{
    font-size:2.5rem;
    color:#ecae3f;
}
.landingHeader__p{
    color: #e3d7d7;
    font-size: 1.25rem;
    font-weight: 600;
}
.landingHeader__p:nth-child(3){
    color: #cdbebe;
    font-size: 1rem;
}
.landingHeader__btn{
    border:none;
    border-radius: 15px;
    padding:.1em 1.7em;
    margin:2em 0;
    background: linear-gradient(to right, #1D2671, #C33764); 
    background-size: 300% 100%;
    font-family: 'IBM Plex Sans Thai', sans-serif;
    font-size:1.5rem;
    font-weight: 600;
    color:white;
    cursor: pointer;
    transition: all .4s ease-in-out;
}
.landingHeader__btn:hover{
    background-position: 100% 0;
    transition: all .4s ease-in-out;
}

@media screen and (min-width:1440px) {
    .landingHeader{
        background-position: bottom;
        padding-top:10em;
        height:100vh;
    }
    .landingHeader__header{
        font-size:4.75rem;
    }
    .landingHeader__p{
        font-size:2rem;
    }
    .landingHeader__p:nth-child(3){
        font-size:1.5rem;
        width:40%;
    }
    .landingHeader__btn{
        font-size:2rem;
    }
}