.illust{
    width:100%;
    padding:2em 1em;
    display:flex;
    flex-direction: column-reverse;
    align-items: center;
    font-family: 'Poppins', sans-serif;
    text-align: center;
    background-color: #1c1f2e;
}
.illust__head{
    font-family: 'Poppins', sans-serif;
    font-size:2.1rem;
    width:fit-content;
    margin:1.5em auto;
}
.illust:nth-child(1){
    padding-top:4em;
}

.illust:nth-child(4){
    display:flex;
    flex-direction: column;
   /*  background: -webkit-linear-gradient(to bottom, #1c1f2e, #F0F2F0); */
    background: linear-gradient(to bottom,#1c1f2e, #F0F2F0); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    padding-top:8em;
    padding-bottom:8em;

}
.illust:nth-child(4) .illust__header{
    color:white;
}
.illust:nth-child(5){
    padding-top:5em;
    padding-bottom:5em;
}
.illust__img{
    width:100%;
}
.illust__header{
    margin-top:.5em;
    font-size:2rem;
    color:#00bfa6;
}
.illust__p{
    font-size: 1.1rem;
    font-weight: 400;
    line-height: 1.4;
    color: #beb9b9;
}

@media screen and (min-width:768px) {
    .illust__img{
        width:60%;
    }
    .illust__p{
        width:60%;
        margin:auto;
    }
}

@media screen and (min-width:1024px) {
    .reviewCard{
        max-width: 400px;
    }
    .illust{
        flex-direction: row-reverse;
    }
    .illust:nth-child(2){
        flex-direction: row;
    }
}
@media screen and (min-width:1440px) {
    .illust__head{
    font-size:4rem;
    margin:1em auto;
    }
    .illust{
        padding-left:3.5em;
        padding-right:3.5em;
    }
    .illust__header{
        font-size:3.5rem;
    }
    .illust__p{
        font-size: 1.5rem;
    }
    .illust__img{
        width:35%;
    }
}