.coinInfo{
    width:100%;
    padding:1em 0.5em;
}
.coinInfo__head{
    display:flex;
    margin:1em 0 .5em;
}
.coinInfo__head__rank{
    font-size:.8rem;
    font-weight: 600;
    color:#e3e2e2;
    width: fit-content;
    background-color:#393e57;
    padding:.25em 1em;
    border-radius:10px;
}
.coinInfo__head__name{
    font-size:1.75rem;
    font-weight:700;
    color:#D89216; 
}
.coinInfo__head__img{
    width:43px;
    height:43px;
    align-self: center;
}
.coinInfo__price{
    font-size:2rem;
    font-weight: 600;
    text-transform: uppercase;
}
.coinInfo__priceChange{
    position:absolute;
    bottom:-30%;
    left:1%;
    font-size:1.25rem;
    font-weight: 500;
    color:#2bbb2b;
}
.--red{
    color:#ee3535;
}
.coinInfo__value{
    width:100%;
}
.coinInfo__value p{
    display:flex;
    justify-content: space-between;
    flex-wrap: wrap;
    padding-bottom:.25em;
    margin-top:.5em;
    border-bottom: 2px solid#ace1da;
    font-weight: 500;
}
.coinInfo__value p span{
    color:#e4d7d7;
    text-transform: uppercase;
}

.coinInfo__value__ATPercentage,.coinInfo__value__ATDate{
    width:100%;
    text-align: right;
}
.coinInfo__value__ATDate{
    font-size:.8rem;
    color:#c4b8b8 !important;
}
.coinInfo__top__right{
    padding:.25em;
}
.coinInfo__top__right a{
    display:none;
}
.exchange{
    background: -webkit-linear-gradient(to right, #f64f59, #c471ed, #12c2e9);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #f64f59, #c471ed, #12c2e9); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    width:100%;
    margin:3em 0;
    padding:.5em;
    border-radius:15px;
}
.exchange__form{
    margin-top:1em;
    font-size:1.15rem;
    text-align: center;
}
.exchange__form label{
    background-color:#d0435e;
    font-weight:600;
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
    padding:.125em .5em;
}
.exchange__form input{
    width:70%;
    font-size:1.15rem;
    font-weight:600;
    outline: none;
    border:transparent;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
    padding:.25em;
}
.exchange div p{
    text-align: center;
    text-transform: uppercase;
    font-size:1.5rem;
    font-weight:600;
    margin-top:.5em;
}
.daySelect{
    display:flex;
    justify-content: space-around;
    width:80%;
    background:#0d5379;
    padding:.25em 0;
    margin:auto;
    border-radius:10px;
}
.daySelect div{
    width:25%;
    padding: .25em;
    text-align: center;
    cursor:pointer;
}
.daySelect div:hover{
    background:#1d6085;
}
.daySelect div:nth-child(1){
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
}
.daySelect div:nth-child(2){
    border-left: 3.25px solid #367a9f;
    border-right:3.25px solid #367a9f;
}
.daySelect div:nth-child(3){
    border-right:3.25px solid #367a9f;
}
.daySelect div:nth-child(4){
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
}
.topSearch{
    text-align: center;
    background-color:#2c324e;
    border:10px solid transparent;
    border-radius:10px;
    width:100%;
    overflow-x: auto;
    overflow-y: hidden;
    margin:2em auto;
}
.topSearch::-webkit-scrollbar
{
    width: 10px;
    background-color: transparent;
}

.topSearch::-webkit-scrollbar-thumb
{
    background-color: #513858;
}
.topSearch__coinContainer{
    display:flex;
}
.topSearch__coin{
    display:flex;
    justify-content: space-between;
    background-color: #41496c;
    margin:1em;
    gap:1em;
    padding:.75em 1em;    
    border-radius: 15px;
    transition:all 1s;
}

.topSearch__coin:hover{
    transform: scale(1.1);
    transition:all 1s;
}
.topSearch__coin div{
    display:flex;
    width:250px;
    gap:1em;
    align-items: center;
}
.topSearch__coin__coinName{
    color:white;
    text-align: left;
    font-size:1.25rem;
    font-weight:600;
}
.topSearch__coin__coinRank{
    width:30%;
    text-align: center;
    font-size:1.15rem;
    font-weight:500;
    padding:.75em .5em;
    border-radius:15px;
    background-color:black;
    color:#4fcc84;
}
@media only screen and (min-width: 768px) {
    .coinInfo{
        padding:1em 2.5em;
    }
}
@media only screen and (min-width: 1024px) {
    .coinInfo__top__right{
        width:85%;
        padding:1.5em 1.25em 1.25em;
        display:flex;
        flex-wrap: wrap;
        align-items: center;
        justify-content: space-around;
    }
    .coinInfo__topRight__leftBottom,.coinInfo__topRight__rightBottom{
        height: 50%;
        width:40%;
        font-size:1.25rem;
        font-weight: 600;
        color:white;
        text-align: center;
        margin-top: 1em;
        border-radius: 10px;
        padding:1.5em .25em;    
        transition:transform .5s;
    }
    .coinInfo__topRight__leftBottom{
        background-color:#cd8b24;
    }
    .coinInfo__topRight__rightBottom{
        background-color: #0484ad;
    }
    .coinInfo__topRight__leftBottom:hover{
        background-color:#edae4b;
        transform: scale(1.05);
        transition:transform .5s;
    }
    .coinInfo__topRight__rightBottom:hover{
        background-color:#21a4ce;
        transform: scale(1.05);
        transition:transform .5s;
    }
    .fa-bitcoin,.fa-globe-asia{
        font-size:4rem;
        margin-top:.25em;
        display: block;
    }
    .exchange{
        margin-bottom:1em;
    }
    .exchange__form{
        text-align: center;
    }
    .coinInfo__top__right a{
        display:initial;
    }
    .exchange__form label{
        background-color:#d0435e;
        font-weight:600;
        border-top-left-radius: 10px;
        border-bottom-left-radius: 10px;
        padding:.125em .5em;
    }
    .coinInfo{
        padding:1em 1.5em;
    }
    .coinInfo__top{
        display:flex;
        font-size:1.25rem;
    }
    .coinInfo__top__left{
        width:65%;
        padding:0 1em;
    }
    .coinInfo__bot__graphSide{
        width:65%;
        margin:2em auto;
        padding:1em 1.5em;
    }
    .daySelect{
        width:60%;
        background:#0d5379;
        padding:.05em 0;
    }
}
@media only screen and (min-width: 1100px) {
    .coinInfo__top__right{
        width:35%;
    }
    .coinInfo__bot{
        display:flex;
        align-items: center;
    }
    .coinInfo__container{
        margin-top:2em;
    }
    .coinInfo__infoSide{
        font-size: 1.25rem;
    }
    .coinInfo__bot{
        padding:2em 1.5em 1em 2em;
        justify-content: center;
    }
    .topSearch__coinContainer{
        display:initial;
    }
    .topSearch{
        width: 85%;
        height:fit-content;
        padding:1.5em 1em;
        border:none;
        max-height:700px;
        overflow: auto;
    }
    .coinInfo__topRight__leftBottom,.coinInfo__topRight__rightBottom{
        font-size:1.45rem;
    }
}
@media only screen and (min-width: 1440px){
    .coinInfo__top{
        font-size:1.5vw;
    }
    .coinInfo__container{
        font-size:1.5vw;
        margin-top:.75em;
    }
}