.coin{
    display:flex;
    flex-direction: column;
    align-items: center;
    background-color:#282a34;;
    box-shadow: 0 4px 8px 0 rgb(0 0 0 / 20%), 0 6px 20px 0 rgb(0 0 0 / 19%);
    border-radius: 20px;
    margin: 2em auto;
    padding: 1em;
    width: 90%;
    font-size:1.5rem;
    font-weight: 500;
}
.coin__loadContainer{
    width:100%;
}
.coin--load{
    width:fit-content;
    margin:auto;
}
.coin__chart{
    margin-top:1.5em;
}
.coin__data{
    background: #373a48;
    color: #a0a0ae;
    margin-top:.5em;
    padding: .5em 1em;
    border-radius: 10px;
}
.coin__price{text-transform: uppercase;}

.coin__priceChange{
    background: #0d0f32;
    width: fit-content;
    padding: .5em 1.25em;
    margin-top: 1em;
    border-radius: 20px;
}
.coin__priceChange--green,.coin__priceChange--red{
    font-weight: 700;
    font-size: 1.25rem;
}
.coin__priceChange--green{
    color:#0cdc2c;
}
.coin__priceChange--red{
    color: #d11515;

}
.coin__name{
    font-size:1.75rem;
    font-weight:700;
    color:#be8c5c;
}
.coin__updatetime{
    margin-top:1em;
    text-align: right;
    align-self: flex-end;
}
@media only screen and (min-width: 700px) {
    .coin{
        width:45%;
        padding:.5em;
        margin:1em .5em;
    }
    .searchResult{
        width:100%;
    }
}
@media only screen and (min-width: 970px) {
    .coin{
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: flex-end;
        width:100%;
        max-width:450px;
        padding:1em;
        margin:1em .5em;
        font-size: 1.25rem;
    }
    .searchResult{
        display: flex;
        flex-direction: column;
        width: 650px;
        align-items: flex-start;
    }
    .searchResult__dataContainer{
        display: flex;
        width: 100% !important;
    }
    .coin__img{
        width:35%;
        margin-right:1em;
    }
    .coin__name{
        font-size:1.8rem;
    }  
    .coin__data{
        width:55%;
        margin-top:1em;
    }
    .coin__updatetime{
        justify-self: flex-end;
    }
}

@media only screen and (min-width: 1200px) {
    .coin{
        max-width:580px;
    }
    .coin__data{
        font-size:1.5rem;
    }
    .coin__priceChange{font-size:1.25rem;}
    .coin__priceChange--green,.coin__priceChange--red{
        font-size:1.5rem;
    }
}
@media only screen and (min-width: 1400px) {
    .coin{
        max-width:650px;
    }
    .coin__data{
        font-size:1.75rem;
    }
}