.coin{
    display:flex;
    flex-direction: column;
    align-items: center;
    background-color: #1f2337;
    box-shadow: 0 4px 8px 0 rgb(0 0 0 / 20%), 0 6px 20px 0 rgb(0 0 0 / 19%);
    border-radius: 20px;
    margin: 2em auto;
    padding: 1em;
    width: 90%;
    font-size:1.5rem;
    font-weight: 500;
}
.coin__data{
    background: #262a3b;;
    color: #a0a0ae;
    margin-top:.5em;
    padding: .5em 1em;
    border-radius: 10px;
}
.coin-price{text-transform: uppercase;}

.coin__priceChange{
    background: #0d0f32;
    width: fit-content;
    padding: .5em 1.25em;
    margin-top: 1em;
    border-radius: 20px;
}
.coin__priceChange--green,.coin__priceChange--red{
    font-weight: 700;
    font-size: 1.25rem;
}
.coin__priceChange--green{
    color:#0cdc2c;
}
.coin__priceChange--red{
    color: #d11515;

}
.coin__name{
    font-size:1.75rem;
    font-weight:700;
    color:#be8c5c;
}
.coin__updatetime{
    margin-top:1em;
    align-self: flex-end;
    text-align: right;
}