.coin{
    display:flex;
    flex-direction: column;
    align-items: center;
    background-color:#83a1c21a/*#1c1e31#2a2f48 #282a34 */;
    box-shadow: 0 4px 8px 0 rgb(0 0 0 / 20%), 0 6px 20px 0 rgb(0 0 0 / 19%);
    border-radius: 20px;
    margin: 2em auto;
    padding: 1em;
    width: 90%;
    font-size:1.5rem;
    font-weight: 500;
}
.coin__top--red,.coin__top--green{
    position:relative;
}
.coin__top--red::after,.coin__top--green::after{
    content:'';
    position:absolute;
    width:100%;
    height:3%;
    background-color:#ee3535;
    top:0;
    left:0;
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
}
.coin__top--green::after{
    background-color:#2bbb2b;
}
.coin__img{
    margin-top:3em;
}
.coin__loadContainer{
    width:100%;
}
.coin--load{
    width:fit-content;
    margin:auto;
}
.coin__chart{
    margin-top:1.5em;
}
.coin__data{
    box-shadow: 0 4px 8px 0 rgb(0 0 0 / 20%), 0 6px 20px 0 rgb(0 0 0 / 19%);
    color: #d9e2ec80;
    margin-top:.5em;
    padding: .5em 1em;
    border-radius: 10px;
}
.coin__price{text-transform: uppercase;}

.coin__priceChange{
    text-align:center;
    background: #262c3d;
    color:white;
    font-weight: 600;
    font-size: 1.35rem;
    padding: .5em 1.25em;
    margin-top: 1em;
    border-radius: 20px;
    box-shadow: 0 4px 8px 0 rgb(0 0 0 / 20%), 0 6px 20px 0 rgb(0 0 0 / 19%);
}
.coin__priceChange--green,.coin__priceChange--red{
    font-size: 2rem;
}
.coin__priceChange--green{
    color:#d5fbdb;
}
.coin__priceChange--red{
    color: #fbd5d5;

}
.coin__name{
    font-size:1.75rem;
    font-weight:700;
    color:#D89216; 
}
.coin__updatetime{
    margin-top:1em;
    text-align: right;
    align-self: flex-end;
}
@media only screen and (min-width: 700px) {
    .coin{
        width:45%;
        padding:.5em;
        margin:1em .5em;
    }
    .searchResult{
        width:100%;
    }
}
@media only screen and (min-width: 970px) {
    .coin{
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: flex-end;
        width:100%;
        max-width:450px;
        padding:1em;
        margin:1em .5em;
        font-size: 1.25rem;
    }
    .searchResult{
        display: flex;
        flex-direction: column;
        width: 650px;
        align-items: flex-start;
    }
    .searchResult__dataContainer{
        display: flex;
        width: 100% !important;
    }
    .coin__img{
        width:35%;
        margin-right:1em;
    }
    .coin__name{
        font-size:1.8rem;
    }  
    .coin__data{
        width:55%;
        margin-top:1em;
    }
    .coin__updatetime{
        justify-self: flex-end;
    }
}

@media only screen and (min-width: 1200px) {
    .coin{
        margin-top:2em;
    }
    .coin__name{
        font-size:2.15rem;
    }
    .coin__data{
        font-size:1.5rem;
    }
}
