.coinsearch__form{
    display:flex;
    flex-direction: column;
}
.coinsearch__input,.coinsearch__input--searchall{
    background: #C33764;  
    background: -webkit-linear-gradient(to right, #1D2671, #C33764); 
    background: linear-gradient(to right, #1D2671, #C33764); 
    outline: none;
    border:none;
    border-radius: 5px;
    margin-top:1em;
    margin-bottom:1em;
    padding:.5em;
    color:white;
    width:250px;
}
.coinsearch__input::placeholder{
    color:#8894a6;
}
.coinsearch__input--searchall{
    background: #FC354C; 
    background: -webkit-linear-gradient(to left, #FC354C, #0ABFBC); 
    background: linear-gradient(to left, #FC354C, #0ABFBC); 
    }
