.currencyDropdown__select{
    background: #1c1f2e;
    color: white;
    outline: none;
    text-transform: uppercase;
    margin-top: 3em;
    width: fit-content;
}
@media only screen and (min-width: 1024px) {
    .currencyDropdown__select{
        font-size:1.25rem;
    }
}