.pagination__ul{
    display:flex;
    padding:0;
    margin:2em 0;
}
.pagination__page {
    color: #706767;
    list-style: none;
    cursor: pointer;
    font-size: 1rem;
    text-align: center;
    width:30px;
    border:2px solid #363557;
}
.pagination__page:hover{ 
    border-color:#646394; 
}
.pagination__page--active {
    color: #d3d9f4;
    background: #272d49;
    font-weight: 500;
}

@media only screen and (min-width: 1024px) {
    .pagination__page{
        font-size:1.25rem;
    }
}